
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}

<h1>Categorieën</h1>
@if (Model.CourseModules == null)
{
    <h1>Er is momenteel geen lesmateriaal beschikbaar voor jou</h1>
}
else
{
    <table class="table">
        <tr>
            <th>CourseModuleId</th>
            <th>Naam</th>
            <th>Graad</th>
            <th>Type van oefeningen</th>
            <th>Laatste keer geraadpleegd</th>
            <th>Aantal keer bezocht</th>
        </tr>
        @foreach (var courseModule in Model.CourseModules)
        {
            <tr>
                <td>
                    @courseModule.CourseModuleId
                </td>
                <td>
                    <a asp-controller="Course" asp-action="Detail" asp-route-courseModuleId="@courseModule.CourseModuleId">@courseModule.Name</a>
                </td>
                <td>
                    @courseModule.Grade
                </td>
                <td>
                    @courseModule.Type
                </td>
                <td>
                    @courseModule.LastConsultation
                </td>
                <td>
                    @courseModule.TotalConsultations
                </td>

            </tr>
        }
    </table>

    @section scripts {
        <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
        <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
}


