@model G10_ProjectDotNet.Models.CourseViewModel.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">Lesmateriaal</h1>
<div class="row offset-md-1">
    <div class="col-md-3">
        <h3>Modules:</h3>
        @foreach (var course in Model.Courses)
        {
            <ul id="myUL">
                <li>
                    <span class="caret">@course.MinGrade</span>
                    <ul class="nested">
                        @foreach (var module in course.Modules)
                        {
                            <li><a asp-controller="Course" asp-action="Index" asp-route-courseModuleId="@module.CourseModuleId" asp-route-memberId="@Model.MemberId">@module.Name</a></li>
                        }
                    </ul>
                </li>
            </ul>
        }
    </div>
    <div class="col-md-9">
        @if (Model.CourseModuleId == null)
        {
            <p>Selecteer een categorie om naar het lesmateriaal te gaan.</p>
        }
        else
        {
            <a asp-controller="Course" asp-action="Index" asp-route-courseModuleId=null asp-route-memberId="@Model.MemberId"> < Terug naar overzicht</a>
            <br />
            <h1>@Model.CourseModule.Name</h1>
            @if (Model.CourseModule.Text == null || Model.CourseModule.Text == "")
            {
                <p class="text-info">Oefening moet nog aangevuld worden met tekst.</p>
            }
            else
            {
                <p>@Model.CourseModule.Text</p>
            }
            @if (Model.CourseModule.Url == null || Model.CourseModule.Url == "")
            {
                <p class="text-info">Oefening heeft nog geen video ter beschikking.</p>
            }
            else
            { 
                <iframe width="605"
                        height="340"
                        src="@Model.CourseModule.Url"
                        frameborder="1"
                        allowfullscreen></iframe>
            }
            @if(Model.CourseModule.ImageUrl == null || Model.CourseModule.ImageUrl == "")
            {
                <img src="https://i0.wp.com/trendy-decor.be/wp-content/uploads/2017/07/Image-Placeholder.jpg" 
                     alt="Dit is een placeholder. De afbeelding moet nog geüpload worden."
                     width="400"
                     height="300" />
            }
            else
            {
                <img src="@Model.CourseModule.ImageUrl" 
                     alt="@Model.CourseModule.ImageAlt" 
                     width="400"
                     height="300"/>
            }

            <h4 class="mt-3">Reacties</h4>
            <form method="post">
                <textarea name="comment" id="comment" class="form-control mb-1" rows="2" placeholder="Laat een reactie achter!"></textarea>
                <button asp-controller="Course" type="submit" asp-action="AddComment" class="btn btn-primary mt-1 mb-3" asp-route-memberId="@Model.MemberId" asp-route-courseModuleId="@Model.CourseModule.CourseModuleId">Add</button>
            </form>
            
            @if (Model.CourseModule.Comments.Count() == 0 || Model.CourseModule.Comments == null)
            {
                <p>Nog geen reacties.</p>
            }
            else 
            {
                foreach(var comment in Model.CourseModule.Comments)
                {
                    <img src="https://wallfar.com/jiu/avatar-male.png" class="commentUserImage">
                    <div class="commentBox">
                        <h4 class="commentMember">Door: </h4>
                        <p class="commentText">@comment.CommentText</p>
                        <a href="#" class="cbtn btnReply">Antwoord</a>
                        <p>@comment.MemberId</p>
                    </div>
                    <div style="position: relative">
                        <img src="https://wallfar.com/jiu/avatar-male.png" class="commentUserImage">
                        <div class="commentBox">
                            <h4 class="commentMember">Door: @comment.Member.Firstname @comment.Member.Lastname</h4>
                            <p class="commentText">@comment.CommentText</p>
                            <a asp-controller="Course"  class="cbtn btnReply">Antwoord</a>
                            @if (@comment.MemberId == Model.MemberId)
                            {
                                <a href="#" class="cbtn btnDelete ml-1">Verwijder</a>
                            }
                            @if (@comment.Replies.Count() == 0)
                            {
                                <p style="margin: 0;" class="mt-2">Geen antwoorden.</p>
                            }
                            else 
                            {
                                <p style="margin: 0;" class="mt-2">@comment.Replies.Count() antwoord(en).</p>
                            }
                        </div> 
                        @if (!Model.Replies)
                        {
                            <div>
                                @if (@comment.Replies.Count() != 0)
                                {
                                    @foreach (var reply in @comment.Replies)
                                    {
                                        <div class="commentBox" style="margin-left: 3.5em;">
                                            @reply.ReplyText
                                        </div>
                                    }
                                }
                                <form method="post" style="display: block;margin-left: 3em;">
                                    <textarea name="reply" id="reply" class="form-control mb-1" rows="2" placeholder="Antwoord"></textarea>
                                    <button asp-controller="Course" type="submit" asp-action="AddReply" class="btn btn-primary mt-1 mb-3" asp-route-memberId="@Model.MemberId" asp-route-courseModuleId="@Model.CourseModule.CourseModuleId">Commentaar toevoegen</button>
                                </form>
                            </div>
                        }
                    </div>
                }
            }
        }
    </div>
</div>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>
