@model G10_ProjectDotNet.Models.GroupViewModels.IndexViewModel
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Groups</h1>

<table class="table">
    <tr>
        <th>Groep ID</th>
        <th>Dag</th>
        <th>Leraar</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Groups)
    {
        string selectedRow = "";
        if(item.GroupId == ViewBag.GroupId)
        {
            selectedRow = "alert-success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.GroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.UserName)
            </td>
            <td>
                <!-- @Html.ActionLink("Selecteer groep", "Index", new { groupId = item.GroupId })-->
                <a asp-route="Group/Index/@item.GroupId">Selecteer een groep</a>
            </td>
        </tr>
    }
</table>

@if(Model.UserGroups != null)
{
    <h1>Deelnemers in de geselecteerde groep</h1>
    <table class="table">
        <tr>
            <th>UserId</th>
            <th>Naam</th>
            <th></th>
        </tr>
        @foreach(var item in Model.UserGroups)
        {
            <tr>
                <td>
                    @item.MemberId
                </td>
                <td>
                    @item.Member.UserName
                </td>
                <td>
                    @Html.ActionLink("Registreer aanwezigheid", "Index")
                </td>
            </tr>
        }
    </table>
}


